appnope==0.1.0
attrs==20.3.0
backcall==0.2.0
decorator==4.4.2
importlib-metadata==3.1.0
iniconfig==1.1.1
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
line-profiler==3.1.0
llvmlite==0.32.1
memory-profiler==0.58.0
numba==0.47.0
numpy==1.19.4
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
psutil==5.7.3
ptyprocess==0.6.0
py==1.9.0
py-cpuinfo==7.0.0
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
pytest-benchmark==3.2.3
six==1.15.0
toml==0.10.2
traitlets==4.3.3
wcwidth==0.2.5
zipp==3.4.0
requests~=2.25.0
setuptools~=50.3.2
Cython~=0.29.21
multiprocess~=0.70.11.1